.row {
    padding: 0px;
    margin: 0px;
}

/* Visited Stats Section */
.col-stats {
    text-align: center;
    background-color: #98c1d9;
}

.col-stats p {
    font-size: 150%;
}

/* Map Section */
#vmap {
    width: 100%;
    height: 400px;
}

#vmap_world {
    width: 100%;
    height: 400px;
}